# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
farm

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work

# Env files
.env

# air hot reload
tmp/
build-errors.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
