@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  --color-brand-50: #f0f4ff;
  --color-brand-100: #e0eaff;
  --color-brand-200: #c7d7fe;
  --color-brand-300: #a4bcfd;
  --color-brand-400: #8197fb;
  --color-brand-500: #059669;
  --color-brand-600: #059669;
  --color-brand-700: #047857;
  --color-brand-800: #065f46;
  --color-brand-900: #064e3b;
}

* {
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}